body {
	background-color: ghostwhite;
	font-family: monospace;
	margin: 0;
	padding: 0;
}

p, h1, h2, h3, h4, h5, h6, img, header {
	margin: 10px;
}


#myNavbar {
	background-color: darkred;
	margin: 0 0 0 0;
	padding: 5px 10px 5px 10px;
	margin: 0 0 20px 0;
	top: 0;
	left: 0;
	right: 0;
	position:fixed;
	height: 20px;
}

.navTab {
	color: white;
	font-weight: bold;	
	text-decoration: none;
	margin: 0;
}

header {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

nav {
	background-color: hotpink;
	padding: 5px 10px 5px 10px;
}


img, video {
	max-width: 300px;
	max-height: 300px;
	object-fit: contain; 
	height: auto;
	width: auto;
}

.imageBlock {
	width: 350px;
	text-align: center;
	padding: 0;
	margiin: 0;
}

